<!-- <footer class="cpoy-right-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="social-footer">
          <ul >
            <li >
              <a href="">
                <i  aria-hidden="true" class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i  aria-hidden="true" class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a  href="">
                <i  aria-hidden="true" class="fa fa-twitter"></i>
              </a>
            </li>
            <li >
              <a  href="">
                <i  aria-hidden="true" class="fa fa-instagram">  </i>
              </a>
            </li>
            <li >
              <a  href="">
                <i  aria-hidden="true" class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <p class="copyright">{{today | date:'y'}} &copy; Copyright by Pickbids | <a href="#" target="_blank">Terms & Conditions</a> | <a href="#" target="_blank">Privacy Policy</a></p>       
    </div>
</div>
</div>
</footer> -->

<!-- copy-right-section -->
<footer class="cpoy-right-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="social-footer">
          <ul>
            <li><a href="https://www.facebook.com/Pickbid" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/pickbids" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/pickbid/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/company/pickbids/about/?viewAsMember=true" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 text-center">
          <p class="copyright">{{today | date:'y'}} &copy; Copyright by Pickbids | <a href="user/terms-conditions" target="_blank">Terms & Conditions</a> | <a href="user/privacy-policy" target="_blank">Privacy Policy</a></p>       
      </div>
    </div>
  </div>
</footer>
<!--end copy right section-->
<!-- Tap to top -->
<div class="tap-top">
  <div>
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </div>
</div>
<!-- Tap to top end -->
