<app-header-main></app-header-main>
<div class="container">
  <h1 class="text-center text-dark mt-5">PICKBIDS TERMS OF USE</h1>
<mat-card style="background-color: whitesmoke;">
<pre>
  •Our Merchants are third-party sellers, who have agreed with our terms to collaborate with the company to fulfil with 
the Goods or Services.
  •Our offers are always flashed on <strong>www.Pickbids.com</strong> or on our mobile applications (Play store & iOS) we don't showcase 
our offers with any other third-party coupon dealers.
  •Any commitment with regards to the Pickbids deals and offers from this website or mobile application between you and 
the merchant for deals and offers is with <strong>Pickbids.com</strong>. you are granted to take utmost care when furnishing your details 
with us and warrant to these details are accurate and complete at the time of redeeming the offer. you also warrant that 
any monetary transactions through cash, credit or debit card is with you and the Pickbids only. <strong>Pickbids.com</strong> 
is not liable for any dispute.
  •Redeeming any deals and offers form Pickbids website or from the app signifies for your use only and you warrant 
that any goods obtained from the merchants are not for resale and that you are acting as a principle only and not as 
an agent or any mediator for other party when receiving the services.
  •Please be aware with some of our offers and deals which may be suitable for certain age groups only. you should 
check the deal or offer you are redeeming is suitable with the recipient before you redeem with us. 
  •When redeeming an offer or a deal from this website or on the app you are requested to provide an E-mail 
address and password. you must make sure that you keep the details highly encrypted and not to be shared 
with a third-party. 
  •Any offer that you are redeeming with us is subject to product availability and acceptance from us and from the 
merchant partner when you redeem your offer online. If redeeming deals and offers are not accessible and gets out of 
stock then merchants will be informed, and we will be able to update the same on the basis of merchants offer.  
  •All our redeemed pricing are showcased on the website and on the app at the time of issuing and have been input as 
received by the merchant, with our utmost care to the users we love to keep them up to date and the redeemed price 
charged by the merchant at the counter can also change at the time of redeeming due to offer fluctuations. we also 
have all the rights to alter the deals and offers or services available on the website and on the app. 
  •All our redeemed pricing are always listed on the website and on the app by the Merchants, If the redeemed price 
listed is not the current and the merchant has to inform us immediately, we will put all our efforts to contact you 
and to inform you about the redeemed price difference and you can choose to opt-out of the offer at any point 
of time.
  •The offers and deals which are showcased on Pickbids website and app are determined entirely by the participating 
merchant and also is informed with <strong>Pickbids.com</strong> at the time of listing or afterwards. if any changes 
with the redeeming prices of different categories of offer is sole discretion of the participating merchant.
  •All applicable taxes, the rates thereof and the manner of applicability of such taxes are being charged and determined 
by the participating merchant only. 
  •The final tax invoice will be issued by the participating merchant only. 
  •In case of withdrawal of offer and deals, Pickbids is not libel for any legal matter its completely discretion of the 
participating merchant.
</pre>
<h3>Participating Merchant, Who Are Offering a Deal </h3>
<pre>
      We render the best of the best deals to you through Pickbids. <strong>www.Pickbids.com</strong> will not be liable to the user for 
any loss, costs, damage, expenses after redeeming the offer. 
</pre>
<h3>Complaints</h3>
<pre>
      Complaints are damn serious to us; we make sure that we respond to your complaints as soon as possible. 
All complaints should be mailed to <strong>support@Pickbids.com</strong>. 
</pre>
<h3>Limitation of Liablity</h3>
<pre>
  •All prices are in INR. GST is included wherever it is mandatory. Do not launch any automated program in connection
with our website.
  •Our terms and conditions with our Agreement shall be governed by and construed in accordance with the laws of India.
  •We may update or vary the Terms and Conditions at any time with the laws and it will be made without notice to you.
  •Customers redeeming deals with <strong>Pickbids.com</strong> are liable of receiving promotional SMS,
  •If customer wish to not receive promotional SMS,  They may contact us on <strong>support@Pickbids.com</strong> deals 
and offers are subject to <strong>Pickbids.com</strong> and may be taken down at any time without notice.
</pre>
<h3>Copyright Complaints </h3>
<pre>
      Pickbids and its affiliates respect the intellectual property of others. If you believe that your work has been 
copied in a way that constitutes infringement of your intellectual property, please follow our Trademark and 
Copyright policy below.
</pre>
<h3>SERVICES DESCRIPTION  </h3>
<pre>
  <strong>Pickbids.com</strong> and its affiliates attempt to be as accurate as possible. However, <strong>Pickbids.com</strong> does not warrant that 
descriptions of or other content of this site is accurate, complete, reliable, current, or error-free. Also, your access 
to the Site may also be occasionally suspended or restricted to allow for repairs, maintenance, or the introduction of 
new facilities or at any time without prior notice. We will attempt to limit the frequency and duration of any such 
suspension or restriction. <strong>Pickbids.com</strong> provides links to other sites over which <strong>Pickbids.com</strong> has no 
control. <strong>Pickbids.com</strong> is not responsible for the availability of such external sites or resources and does not endorse 
and is not responsible or liable for any content, advertising, products or other material on or available from such 
sites or resources. 
</pre>
</mat-card>
</div>