<app-header-main></app-header-main>
<!-- ---------------------------------------------body--------------------------------------------------- -->
<div class=" main_content mt-4 row" style="background-color:whitesmoke;">
  <div class="col-md-12">
    <div class="col-md-4">
      <h6 class="text-black text-align-left mt-0">Bar, Restaurants & Pubs</h6>
      <h4 class="text-black text-align-left mt-0">arrive bientot</h4>
      <h5 class="text-black text-align-left mt-0">Koramangala 5th block ,<i class="fa fa-map-marker"
          aria-hidden="true"></i><span> View On Map</span></h5>
      <h6 class="text-black text-align-left mt-0">Time:<span> (Opens @ 12 Pm)</span></h6>
      <h6 class="text-black text-align-left mt-0">Cost For Two :1,360 INR</h6>
      <br>
    </div>
    <div class="col-md-2">
      <h6 class="text-black text-align-left mt-0">Based On 52 Rating</h6>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-half-full checked"></span> | 4.5/5
    </div>
    <div class="col-md-3">
      <a routerLink="/offer">
      <img class="h-75 w-100 mt-4 " src="../../../assets/images/pub/Silent_Disco_in_Bielefeld.png">
      </a>
      <br>
    </div>
    <div class="col-md-3">
      <a routerLink="/offer">
      <img class="h-75 w-100 mt-4" src="../../../assets/images/merchantimages/lily_banse__YHSwy6uqvk_unsplas.png">
      </a>
      <br>
    </div>
  </div>
</div>
<div class="redeem p-4">
  <h3 class="text-center text-black p-4 mb-4">{{Confirming}}</h3>
  <mat-icon>{{done}}</mat-icon>
  <svg viewBox="0 0 104 104 " class="p-2" style="width:160px; height: 154px;">
    <circle cx="52" cy="52" r="50" fill="#00FF98" style="position:relative;" />
  </svg>
  <h3 class="text-center text-black mt-2 p-4" style="margin-left: 10%;">{{save}}</h3>
</div>