
<app-header-main></app-header-main>
<div class=" main_content mt-4 row" style="background-color:whitesmoke;top:10%">
  <div class="col-md-12">
    <div class="col-md-4">
      <h4 class="text-black text-align-left p-2 mt-0">{{storeName}}</h4>
      <h5 class="text-black text-align-left mt-0">{{price}}</h5>
      <hr>
  <h5 class="text-black text-align-left mt-0"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{address}}</h5>
      <hr>
    <h5 class="text-black text-align-left mt-0">{{opentime}} </h5>
      <div class="button1 row p-0 m-0">
        <button bg-white mat-flat-button class="button1 m-2 mb-2">Party Section</button>
        <button bg-white mat-flat-button class="button1 m-2 mb-2">Parking</button>
        <button bg-white mat-flat-button class="button1 m-2 mb-2">Dance Floor</button>
      </div>
      <br>
    </div>
    <div class="col-md-2">
      <a routerLink="/booktable"> <button class="booktable text-left" mat-flat-button
          class="m-0 mb-2 rounded-pill px-5 h-40 ">Book Table</button></a>
    </div>
    <div class="col-md-3">
      <a href="/offer">
      <img class="photo mt-2 " src="../../../assets/images/pub/Silent_Disco_in_Bielefeld.png">
    </a>
      <br>
    </div>
    <div class="col-md-3">
      <a href="/offer">
      <img class="photo mt-2" src="../../../assets/images/merchantimages/lily_banse__YHSwy6uqvk_unsplas.png">
      </a>
      <br>
    </div>
  </div>
</div>
<div class="row col-lg-12 m-0 p-0">
  <div class="main col-md-8 p-0" style="margin-top: 0%; background-color:whitesmoke;">
    <mat-card style="width:100% ">
      <mat-card class="headings" style="background-color:#6D0C2E;padding:6px;height:12%;" >
        Date :  {{this.date | date: 'shortDate'}}
        Time :  {{this.day}}
         No Of Guest : {{this.noofguest}}
        <a routerLink="/booktable">
          <mat-icon>edit</mat-icon>
        </a>
      </mat-card>
      <mat-card style="width:100% " class="contactinfo">
        <form #f="ngForm" (ngSubmit)="submit(f)">
          <h2 class="text-center text-dark mt-4">Contact Information</h2>
          <div class="form-group">
            <!-- <label for="firstName">Username</label> -->
            <input required minlength="3" maxlength="30" ngModel name="firstName" id="firstName" #name="ngModel"
              (change)="log(name)" type="text" class="form-control" placeholder="Enter Name" />
            <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
              <div *ngIf="name.errors.required"> Name is required.</div>
              <div *ngIf="name.errors.minlength"> Name should be minimum {{ name.errors.minlength.requiredLength }}
                characters.</div>
            </div>
          </div>
          <div class="form-group">
            <!-- <label for="number"> Phone Number</label> -->
            <input required minlength="10" maxlength="10"  pattern="[0-9]{10}" type="number" ngModel name="telephone" id="number" #number="ngModel"
              (change)="log(number)" type="tel" class="form-control" placeholder="Enter Phone Number" />
            <div class="alert alert-danger" *ngIf="number.touched && !number.valid">
              <div *ngIf="number.errors.required">Phone Number is required.</div>
              <div *ngIf="number.errors.minlength">Phone Number should be 
                {{number.errors.minlength.requiredLength }} Digits.</div>
                <div *ngIf="number.errors.pattern">Invalid Characters only Numbers</div>
            </div>
          </div>
          <div class="form-group">
            <!-- <label for="email">Email</label> -->
            <input required  ngModel name="email" id="email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              (change)="log(email)" type="email" class="form-control" placeholder="Enter Email" />
            <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
              <div *ngIf="email.errors.required"> Email is required.</div>
              <div *ngIf="email.errors.pattern">Invalid Email.</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" mat-flat-button class=" btn btn-primary m-0 mb-2 w-90 rounded-pill px-5 h-40 mt-2"
              [disabled]="!f.valid">Submit</button>
          </div>
        </form>
      </mat-card>
    </mat-card>
  </div>
  <div class="submain ml-auto col-md-4" style=" margin-top:0% ;">
    <mat-card style="width:100% ">
      <div class="heading container-fluid w-100">
        <div class="subheading container-fluid w-100">
          <h3 class="text-black mt-2 p-2">Kindred</h3>
        </div>
        <div class="subheading">
          <a href="/user/resturants">
          <h5 class="ml-auto text-black p-2">View All</h5>
        </a>
        </div>
      </div>
      <div style="display:flex;">
        <div class="container-fluid w-100 m-2" style="flex:1;">
          <a routerLink="/offer">
          <img src="../../../assets/images/hotelbook.jpg" alt="" class="w-100 h-100 pic1">
          <div class="content text-center w-100">
            <h5 class="text-center text-white m-4">Puppy Bar <br> HSR Layout
            </h5>
          </div>
        </a>
        </div>
        <div class="container-fluid w-100 p-0 m-2" style="flex:1;">
          <a routerLink="/offer">
          <img src="../../../assets/images/hotelbook.jpg" alt="" class="w-100 h-100 pic1">
          <div class=" content text-center w-100">
            <h5 class="text-center text-white m-4">Marries Bar <br> HSR Layout
            </h5>
          </div>
          </a>
        </div>
      </div>
      <div style="display:flex;">
        <div class="container-fluid w-100 p-2" style="flex:1;">
          <a routerLink="/offer">
          <img src="../../../assets/images/bigsale.jpg" alt="" class="w-100 h-100 pic1">
          </a>
        </div>
        <div class="container-fluid w-100 p-2" style="flex:1;">
          <a routerLink="/offer">
          <img src="../../../assets/images/bigsale.jpg" alt="" class="w-100 h-100 pic1">
          </a>
        </div>
      </div>
    </mat-card>
  </div>
</div>