<div fxFlex= '100' fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='space-evenly start' class="mt-6">
       
  <mat-card fxFlex=''fxLayout='row wrap' class="example">
      <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + beer + ')'}">
        <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav()>
          <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before'>
        </div>
        <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav1()>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after' >grade</mat-icon>
        </div>
      </mat-card>
      <a  href="offer" class="link">
      <button class="mt-2 ml-4" mat-raised-button > Best Beer</button>
    </a>
       <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
         <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
        <p class="text-light font-weight-bold m-0">on Best Beer</p>
      </div>
     </mat-card>


  
<mat-card fxFlex=''fxLayout='row wrap' class="example">
  <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + hostels + ')'}">
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav2()>
      <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before1'>
    </div>
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav3()>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after1' >grade</mat-icon>
    </div>
  </mat-card>
  <a  href="offer" class="link">
      <button class="mt-2 ml-4" mat-raised-button fxLayoutAlign='center center'> Hostels</button>
    </a>
      <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
          <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
         <p class="text-light font-weight-bold m-0">on Best Beer</p>
       </div>
</mat-card>
<mat-card fxFlex=''fxLayout='row wrap' class="example">
  <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + beer + ')'}">
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav4()>
      <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before2'>
    </div>
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav5()>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after2' >grade</mat-icon>
    </div>
  </mat-card>
  <a  href="offer" class="link">
    <button class="mt-2 ml-4" mat-raised-button > Best Beer</button>
  </a>
  <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
      <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
     <p class="text-light font-weight-bold m-0">on Best Beer</p>
   </div>
 </mat-card>
 <mat-card fxFlex=''fxLayout='row wrap' class="example">
  <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + hostels + ')'}">
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav6()>
      <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before3'>
    </div>
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav7()>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after3' >grade</mat-icon>
    </div>
  </mat-card>
  <a  href="offer" class="link">
    <button class="mt-2 ml-4" mat-raised-button fxLayoutAlign='center center'> Hostels</button>
  </a>
      <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
          <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
         <p class="text-light font-weight-bold m-0">on Best Beer</p>
       </div>
 </mat-card>
</div>
<div fxFlex= '100' fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='space-evenly start' class="mt-6">
  <mat-card fxFlex=''fxLayout='row wrap' class="example">
      <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + beer + ')'}">
        <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav()>
          <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before'>
        </div>
        <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav1()>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after' >grade</mat-icon>
        </div>
      </mat-card>
      <a  href="offer" class="link">
        <button class="mt-2 ml-4" mat-raised-button > Best Beer</button>
      </a>
       <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
         <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
        <p class="text-light font-weight-bold m-0">on Best Beer</p>
      </div>
     </mat-card>
<mat-card fxFlex=''fxLayout='row wrap' class="example">
  <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + hostels + ')'}">
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav2()>
      <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before1'>
    </div>
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav3()>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after1' >grade</mat-icon>
    </div>
  </mat-card>
  <a  href="offer" class="link">
    <button class="mt-2 ml-4" mat-raised-button fxLayoutAlign='center center'> Hostels</button>
  </a>
      <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
          <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
         <p class="text-light font-weight-bold m-0">on Best Beer</p>
       </div>
</mat-card>
<mat-card fxFlex=''fxLayout='row wrap' class="example">
  <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + beer + ')'}">
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav4()>
      <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before2'>
    </div>
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav5()>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after2' >grade</mat-icon>
    </div>
  </mat-card>
  <a  href="offer" class="link">
    <button class="mt-2 ml-4" mat-raised-button > Best Beer</button>
  </a>
  <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
      <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
     <p class="text-light font-weight-bold m-0">on Best Beer</p>
   </div>
 </mat-card>
 <mat-card fxFlex=''fxLayout='row wrap' class="example">
  <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + hostels + ')'}">
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav6()>
      <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before3'>
    </div>
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav7()>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after3' >grade</mat-icon>
    </div>
  </mat-card>
  <a  href="offer" class="link">
    <button class="mt-2 ml-4" mat-raised-button > Best Beer</button>
  </a>
      <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
          <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
         <p class="text-light font-weight-bold m-0">on Best Beer</p>
       </div>
 </mat-card>
</div>
<div fxFlex= '100' fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='space-evenly start' class="mt-6">
  <mat-card fxFlex=''fxLayout='row wrap' class="example">
      <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + beer + ')'}">
        <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav()>
          <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before'>
        </div>
        <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav1()>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after' >grade</mat-icon>
        </div>
      </mat-card>
      <a  href="offer" class="link">
        <button class="mt-2 ml-4" mat-raised-button fxLayoutAlign='center center'> Hostels</button>
      </a>
       <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
         <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
        <p class="text-light font-weight-bold m-0">on Best Beer</p>
      </div>
     </mat-card>
<mat-card fxFlex=''fxLayout='row wrap' class="example">
  <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + hostels + ')'}">
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav2()>
      <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before1'>
    </div>
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav3()>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after1' >grade</mat-icon>
    </div>
  </mat-card>
  <a  href="offer" class="link">
    <button class="mt-2 ml-4" mat-raised-button fxLayoutAlign='center center'> Hostels</button>
  </a>
      <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
          <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
         <p class="text-light font-weight-bold m-0">on Best Beer</p>
       </div>
</mat-card>
<mat-card fxFlex=''fxLayout='row wrap' class="example">
  <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + beer + ')'}">
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav4()>
      <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before2'>
    </div>
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav5()>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after2' >grade</mat-icon>
    </div>
  </mat-card>
  <a  href="offer" class="link">
    <button class="mt-2 ml-4" mat-raised-button > Best Beer</button>
  </a>
  <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
      <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
     <p class="text-light font-weight-bold m-0">on Best Beer</p>
   </div>
 </mat-card>

 <mat-card fxFlex=''fxLayout='row wrap' class="example">
  <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + hostels + ')'}">
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav6()>
      <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before3'>
    </div>
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav7()>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after3' >grade</mat-icon>
    </div>
  </mat-card>
  <a  href="offer" class="link">
    <button class="mt-2 ml-4" mat-raised-button fxLayoutAlign='center center'> Hostels</button>
  </a>
      <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
          <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
         <p class="text-light font-weight-bold m-0">on Best Beer</p>
       </div>
 </mat-card>
</div>
<div fxFlex= '100' fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign='space-evenly start' class="mt-6">
  <mat-card fxFlex=''fxLayout='row wrap' class="example">
      <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + beer + ')'}">
        <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav()>
          <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before'>
        </div>
        <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav1()>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after' >grade</mat-icon>
        </div>
      </mat-card>
      <a  href="offer" class="link">
        <button class="mt-2 ml-4" mat-raised-button > Best Beer</button>
      </a>
       <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
         <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
        <p class="text-light font-weight-bold m-0">on Best Beer</p>
      </div>
     </mat-card>


<mat-card fxFlex=''fxLayout='row wrap' class="example">
  <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + hostels + ')'}">
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav2()>
      <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before1'>
    </div>
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav3()>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after1' >grade</mat-icon>
    </div>
  </mat-card>
  <a  href="offer" class="link">
    <button class="mt-2 ml-4" mat-raised-button fxLayoutAlign='center center'> Hostels</button>
  </a>
      <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
          <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
         <p class="text-light font-weight-bold m-0">on Best Beer</p>
       </div>
</mat-card>


<mat-card fxFlex=''fxLayout='row wrap' class="example">
  <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + beer + ')'}">
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav4()>
      <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before2'>
    </div>
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav5()>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after2' >grade</mat-icon>
    </div>
  </mat-card>
  <a  href="offer" class="link">
    <button class="mt-2 ml-4" mat-raised-button > Best Beer</button>
  </a>
  <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
      <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
     <p class="text-light font-weight-bold m-0">on Best Beer</p>
   </div>
 </mat-card>

 <mat-card fxFlex=''fxLayout='row wrap' class="example">
  <mat-card fxFlex='row' class="example-small-box mt-5" [ngStyle]="{'background-image': 'url(' + hostels + ')'}">
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav6()>
      <img src="../../../../assets/images/users/outline_grade_black_18dp.png" alt="" *ngIf='fav_before3'>
    </div>
    <div class="rounded-circle ml-auto p-0" fxLayoutAlign='end start' (click) = fav7()>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="example-icon-box" *ngIf='fav_after3' >grade</mat-icon>
    </div>
  </mat-card>
  <a  href="offer" class="link">
    <button class="mt-2 ml-4" mat-raised-button fxLayoutAlign='center center'> Hostels</button>
  </a>
      <div fxFlex='row' class="mt-4" fxLayoutAign='center center'>
          <p class="text-light font-weight-bold m-0">300 Super Cash Back</p> <br>
         <p class="text-light font-weight-bold m-0">on Best Beer</p>
       </div>
 </mat-card>
</div>